.skill-icon i{
    padding: 0.3em 0.8em 0.2em 1em;
    margin-bottom: 2em;
    margin-right: 0.3em;
    border-right: solid 1px #FF305B;
    color: #FF305B;
    font-size: 3em;
    float: left;

}
.skill-icon-description{
    margin-bottom: 4em;
    padding-right: 3em;
}

.skill-icon-description h4{
    color: #FF305B;
}

.skill-icon-description p{
    font-weight: 100;
    line-height: 120%;
    font-size: 1em;
    letter-spacing: 1px;
}
