.title-description{
    margin-left: 3em;
    padding-left: 1em;
    border-left: solid 5px #FF305B;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 140%;
}

.image1, .image2, .image3, .image4{
    width: 100%;
    height: 15em;
    background-position: center;
    margin-top: 2em;
    margin-bottom: 4em;
    background-size: cover;
    transition: all, 0.3s;
    transition-timing-function: ease;
}

.modal-pop{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.image1{
    background-image: url(/img/picture1.jpg);
}

.image2{
    background-image: url(/img/picture2.png);
}

.image3{
    background-image: url(/img/picture3.jpg);
}

.image4{
    background-image: url(/img/picture4.jpg);
}

.image-description{
    position: absolute;
    height: 50%;
    top: 5em;
    right: 1em;
    left: 1em;
    padding: 0 2em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #000;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    color:#FFF;
    letter-spacing: 1.5px;
    z-index: 1;
    transition: all, 0.3s;
    transition-timing-function: ease;
}

.image-description h4{
    padding-bottom: 0.5em;
    border-bottom: solid #FFF 1px;
}

.image-description p{
    font-weight: 100;
    margin-bottom: 0;
}

.modal {
    display: block;
    position: fixed;
    z-index: 9999;
    padding-top: 5em;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: absolute;
    background-color: #FFF;
    margin: auto;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s
}

.modal-close{
    float:right;
}

.modal-close .fa-times{
    margin: 0.5em 1em 1em 1em;
    border-radius: 50%;
    padding: 4px 7px;
    font-size: 3em;
    cursor: pointer;
    transition: all, 0.4s;
    transition-timing-function: ease;
    color: #FF305B;
}

.modal-close .fa-times:hover{
    color: #FFF;
    background-color: #FF305B;
}

.modal-project-description{
    padding: 2em 4em;
}

.modal-project-description h4{
    font-size: 3em;
    padding-bottom: 1em;
}

.modal-project-description h5{
    font-size: 2em;
    padding: 0.5em;
}

.modal-project-description p{
    font-size: 1em;
    font-weight: 100;
}

.modal-project-description img{
    left: 20%;
    height: 15em;
    width: 60%;
}

.project-link{
    text-align: center;
}

.project-link a{
    font-size: 1.5em;
    height: 100%;
    transition: all, 0.3s;
    transition-timing-function: ease;
}

.project-link a:hover{
    color: #FF305B;
}

.project-link .fa{
    padding-right: 0.5em;
    font-size: 2em;
}

.project-link span{
    padding-right: 1.5em;
    margin-bottom: 0.5em;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
