#navigation-visible{
    position: fixed;
    top:0px;
    left:-2000px;
    z-index: 9000;
    background-color: #FFF;
    height: 100%;
    width: 100%;
}

#nav-item-left-background{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(/img/baby2.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.nav-logo{
    position: absolute;
    top: 45%;
    left: 10%;
    right: 10%;
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    color: #FFF;
    cursor: pointer;
}

.icon-group{
    position: absolute;
    top: 70%;
    left: 8%;
    right: 0%;
    text-align: center;
}

.icon-group .fa-facebook, .icon-group .fa-linkedin, .icon-group .fa-google{
    border: solid #FFF 1px;
    border-radius: 50%;
    padding: 12px 22px;
    text-align: center;
    margin-right: 1em;
    font-size: 3em;
    cursor:pointer;
    transition: all 0.4s;
    transition-timing-function: ease;
    color: #FFF;
}

.icon-group .fa-google, .icon-group .fa-linkedin{
    padding: 12px 16px;
}

.icon-group .fa-facebook:hover, .icon-group .fa-linkedin:hover, .icon-group .fa-google:hover{
    background-color: #FFF;
    color: #FF305B;
}

.icon-group-description{
    position: absolute;
    top: 85%;
    left: 10%;
    right: 10%;
    color: #FFF;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
}

.nav-item-right{
    margin-top: 35%;
    margin-bottom: 35%
}

.quickmenu{
    margin-top: -20%;
    font-style: italic;
    font-size: 2em;
    font-weight: bold;
    float: right;
    border-bottom: solid #F2F2F2 1px;
}

.nav-item-right ul li{
    padding-left: 3em;
    margin: 2em 0;
    font-size: 1.5em;
    transition: all 0.1s;
    transition-timing-function: ease;
    font-weight: 100;
    border-left: solid #FF305B 0px;
    color: #000;
}

.nav-item-right ul li:hover{
    font-weight: 500;
    border-left: solid #FF305B 7px;
    color: #FF305B;
}
